@model Library.Models.BooksViewModel

@{
	ViewBag.Title = "CheckAuthoreBooks";
}

<script>
	function AddBooktoCart(url, bookId) {
		var urlVal = url + '/api/LibraryApi/AddBookToCart?bookId=' + bookId;
		$.ajax({
			url: urlVal,
			type: "POST",
			contentType: 'application/json;charset=utf-8',
			dataType: "json",
			success: function (status, data) {
				if (status.status === 210 || status.status === 200) {
					location.reload(true);
					alert(data);
				}
			},
			complete: function (status, data) {
				if (status.status === 210 || status.status === 200) {
					location.reload(true);
					alert(data);
				}
			}
		});
	}
</script>

@if (Model.IsAdmin)
{
	@Html.Partial("_SideNavAdmin")
}
else if (Model.IsUser)
{
	@Html.Partial("_SideNavUser")
}
else
{
	@Html.Partial("_SideNav")
}
<div>
	<table class="table">
		<tr>
			<th style="width:30%">Name</th>

			<th>Price</th>
			@if (Model.IsUser)
			{
				<th>Add To Cart</th>
			}
		</tr>
		@if (Model.books != null)
		{
			foreach (var category in Model.books)
			{
				<tr>
					<td>@category.Name</td>
					<td>@category.BookPrice</td>
					@if (Model.IsUser)
					{
						if (category.isAddedToCart)
						{
							<td><button type="button" class="btn btn-primary" disabled>Added In Cart</button></td>
						}
						else
						{
							<td><button type="button" class="btn btn-primary" onclick="AddBooktoCart('@Model.domain','@category.Id')">Add To Cart</button></td>
						}

					}
				</tr>
			}
		}
	</table>
</div>