@{
	ViewBag.Title = "AllBooks";
}
@model Library.Models.BooksViewModel

	@Html.Partial("_SideNav")
	<div class="row" style="background-color:#f5f5f5;margin-right:0px;">
		<br />
		<br />

		@if (Model.books.Count == 0)
		{
			<center><div class="col-xs-10 col-sm-8 col-md-10 col-lg-10" style="padding-left: 50px;padding-top: 20px;padding-bottom: 50px;margin-left: 15px;"><p style="color:blueviolet;"> Sorry, No Books are available</p></div></center><br /><br /><br />
		}
		else
		{
			foreach (var info in Model.books)
			{
				var stock = info.NoOfStock - info.NoOfBooksIsInUse;
				var imageName = string.Join("", info.Name.Split(default(string[]), StringSplitOptions.RemoveEmptyEntries))+".png";
				<div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 card1 card2" style="padding-top: 40px;border-bottom-width: 20px;padding-bottom: 20px;margin-bottom: 260px;">
					<div class="panel panel-primary" style="border-color: #485563;border-radius: 0px;box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);">
						<div class="panel-heading" style="border-color: #485563;border-radius: 0px; background-color: white">
							<div class="panel-title">
								<div class="show-image" style="height:480px;">
									<img src="@info.ImageUrl" style="width:100%;height: 480px; border:none;box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);" scrolling="no" />

								</div>
							</div>
						</div>
						<div class="panel-body" style="background-color:white">
							<h3 style="color: black;width:auto;overflow:hidden;" align="center">@info.Name</h3><br />
							<h3 style="color: black;width:auto;overflow:hidden;">Authore - @info.Author</h3>
							<h3 style="color: black;width:auto;overflow:hidden;">In Stock - @stock</h3>
						</div>
					</div>
				</div>
			}
		}
		<br />
		<br />
	</div>